<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Sentiment Analyzer</title>
    <style>
    body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>
    <p>
        <h1>Hello, User! </h1>
    </p>
    <h1>Twitter Botcheck & Sentiment Analysis Tool.</h1>
    <form  method="POST" name="mbta_helper">
        {% if error %}
        <p> Invalid. Please enter in a twitter user. </p>
        {% endif %}
        </p>
        <p> 

           
            <b> Please enter a twitter user ID: </b>
            <p>
            <input type="text" size="18" name="name" placeholder="place in Boston">
            </pr>

        </p>

        <br>
            <input type="submit" value="Magic Happens" /> 
        </br>

    </form>
</body>

</html>